# LLM Client
OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4.1-mini"
GROQ_API_KEY=""
GROQ_MODEL="llama-3.1-8b-instant"
LLM_MODEL="GROQ_MODEL"

# Embedding Model
OPENAI_EMB_MODEL="text-embedding-3-small"

# LangChain/LangSmith Configuration
LANGCHAIN_API_KEY=""
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_PROJECT="AI-Clinical-Assistant"

# MongoDB Cluster
MONGODB_URI=""
DB_NAME="chatbot_db"

# Logging Config
APP_LOG_LEVEL = "INFO"
